.h1
{
    text-align: center;
    font-family: 'Righteous', cursive;
    font-size: 100px;
}

.p1
{
    text-align: center;
    font-family: 'Comfortaa', cursive;
    font-size: 20px;
}


.button-grp{
    max-width:100%;
    background-color: black; 
}
#belowheading{
    width:10px;
    background-color: black;
}
.bc-img{
    display: block;
    width: 25%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top:auto;
    border: 2px solid orange;
}
.thisbutton {
    background-color: black;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    width: 24%;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}  

button:hover{
    background-color:lightslategrey;
}

.welcome
{
    text-align: center;
    font-size: 24px;
    font-family: 'Baloo 2', cursive;
    font-weight: bolder;
}


#footer
{
    text-align: center;
    font-size: 14px;
    font-family: 'Baloo 2', cursive;
    background-color: #FF7276;
    font-weight: bold;
}



.fa
{
    display: flex;
    justify-content: center;
    align-items: center;
}


